.orderInfo {
    display: grid;
    grid-template-columns: 1fr 110px 54px 80px 30px;
    align-items: center;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding: 10px 0 10px 0;
}

.btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.orderImg {
    width: 33px;
    height: 33px;
    border-radius: 5px;
}

.orderAmount, .orderPrice {
    font-size: 13px;
}